{% if include.page.ingredientes %}
  <div class="content-title">Ingredientes</div>
  <div class="ingredient-list-instructions">Essa receita pode ser feita usando:</div>
{% endif %}

{% for item in include.page.ingredientes %}
{% if site.data.ingredientes[item] %}
  <div class="list-item">
    <div class="list-image">
      <img src="{{ site.baseurl }}{{ site.data.ingredientes[item].img }}">
    </div>
    <div class="list-text">
      <div class="list-text-title">{{ item }}</div>
      {{ site.data.ingredientes[item].txt }}
    </div>
  </div>
{% endif %}
{% endfor %}
