<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="main-div home-main-div">
      <a href="{{ site.baseurl }}/"><div class="home-title">{{ site.title }}</div></a>

      <div class="home-jar-container" id="jar-menu-anchor">
        {% for p in site.potes %}
          {% capture image %}{% cycle 'ingredientes', 'ingredientes', 'ingredientes', 'ingredientes', 'ingredientes', 'ingredientes', 'ingredientes', 'jar' %}{% endcapture %}

          <div class="jar-overlay" data-slug="{{ p.slug }}">
            <div class="jar-item">
              <img src="{{ site.baseurl }}/media/icons/{{ p.slug }}/{{ image }}.png">
            </div>
            
            <div class="jar-item">
              <img src="{{ site.baseurl }}/media/icons/{{ p.slug }}/receita.png">
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="home-jar-navigation" id="jar-submenu-anchor">
        <div class="jar-item" id="jar-ingredientes">
          <img src="{{ site.baseurl }}/media/icons/kombucha/ingredientes.png">
        </div>
        <div class="jar-item" id="jar-receita">
          <img src="{{ site.baseurl }}/media/icons/kombucha/receita.png">
          <div class="jar-navigation-title" id="jar-title"></div>
        </div>
        <div class="jar-item" id="jar-mapa">
          <img src="{{ site.baseurl }}/media/icons/kombucha/mapa.png">
        </div>
      </div>

      <div class="home-content">
        {% for p in site.potes %}
          <div class="content-ingredientes" data-slug="{{ p.slug }}">
            {% include ingredientes.html page=p %}
          </div>
          {{ p.content }}
        {% endfor %}
        {% include share.html %}
      </div>

      <div class="home-map-container home-section">
        <div class="home-map-image home-section-image"></div>
        <div class="home-umap-image home-section-image">
          <iframe width="100%" height="300px" frameBorder="0" src="http://umap.openstreetmap.fr/en/map/cozinha-nomade-serrinha-do-alambari_229503?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
        </div>
      </div>

      <div class="recipe-search-container home-section">
        <div>Receitas</div>
        <div class="recipe-search-button-container">
          {% assign groups = 'processos,categorias,ingredientes' | split: ',' %}
          {% for g in groups %}
            <div class="recipe-search-button-group">
              {% for item in site.data.glossario[g] %}
                <input type="checkbox" class="hidden-checkbox"
                       id="recipe-search-{{ g }}-{{ forloop.index }}">
                <label class="recipe-search-button"
                       for="recipe-search-{{ g }}-{{ forloop.index }}"
                       data-name="{{ item[0] }}">
                  {{ item[0] }}
                </label>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="recipe-search-results">
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
  <script src="{{ site.baseurl }}/js/smooth-scroll.js"></script>
  <script src="{{ site.baseurl }}/js/home-navigation.js"></script>
  <script src="{{ site.baseurl }}/js/recipe-search.js"></script>
</html>
