<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <div class="main-div">
      <a href="{{ site.baseurl }}/"><div class="home-title">{{ site.title }}</div></a>
      <div class="page-title">{{ page.title }}</div>
      <div class="page-content">
        {{ content }}
        {% if page.swipebox %}
          {% include swipebox.html prefix=page.swipebox %}
        {% endif %}
        {% include share.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
